<h2>Busque el producto</h2>
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="busqueda_producto">Producto</label>
    <input type="text" class="form-control" ng-model="productoKey" 
    	id="busqueda_producto" placeholder="Busque el producto">
  </div>
  <button type="button" class="btn btn-default" ng-click="buscarProductos()">Buscar</button>
  <br/><br/>	
  <table class="table">
  	<thead>
	    <tr>
	      <th scope="col">Titulo</th>
	      <th scope="col">Descripción</th>
	    </tr>
  	</thead>
    <tbody id="resultados" ng-controller="ProductCtrl">
      <tr ng-repeat="producto in respProductos">
        <td>{{producto.titulo}}</td>
        <td>{{producto.descripcion}}</td>
      </tr> 
    </tbody>
  </table>
</form>